@import-normalize;

:root {
  --border-radius: 8px;
  --background-color: rgb(229, 225, 225);
  --btn-background: rgb(123, 104, 238);
}

body {
  background-color: var(--background-color);
  /*   font-family: 'Kdam Thmor Pro', sans-serif; */
}

* input,
input::placeholder {
  text-indent: 10px;
}

p {
  margin: 0;
}
