.tick-list-container {
    overflow: scroll;
    border-radius: var(--border-radius);
    margin: 0 2vh;
}

.tick-list-container::-webkit-scrollbar {
    display: none;
}

.tick-list-container h3 {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 1.5vh 0;
    text-align: center;
    background-color: var(--background-color);
}

.tick-list-header, div .tick-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding: 0 1vw;
}
.tick-list-header {
    position: sticky;
    background-color: var(--background-color);
    top: 5.75vh;
}

.route-title, .route-name {
    justify-self: start;
}

.difficulty-title, .difficulty {
    justify-self: end;
}

.tick-list .route-name {
    padding: .5vh 0 0 3vw;
}

.tick-list .difficulty {
    padding: .5vh 6vw 0 0;
}