.tick-list-container {
    overflow: scroll;
    border-radius: var(--border-radius);
}

.tick-list-container::-webkit-scrollbar {
    display: none;
}

.tick-list-container h3 {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 1.5vh 0;
    text-align: center;
    background-color: var(--background-color);
}

.tick-list-header, div .tick-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.tick-list-header {
    position: sticky;
    background-color: var(--background-color);
    top: 5.75vh;
}

.difficulty-title {
    grid-column: 3 / 4;
}

.tick-list .route-name {
    justify-self: center;
    align-self: center;
}

.tick-list .difficulty {
   justify-self: center;
   align-self: center;
}

.remove-tick {
    justify-self: center;
    align-self: center;
    height: 2.5vh;
    margin: .15vh 0;
    letter-spacing: .1vw;
    background-color: var(--btn-background);
    color: white;
}